{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true
  },

  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "templateStrings": true,
    "jsx": true
  },

  "rules": {
    "quotes": [1, "single"],
    "no-underscore-dangle": [1],
    "no-use-before-define": [1],
    "no-unused-vars": [1],
    "no-trailing-spaces": [0],
    "strict": [0]
  }
}
